@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASD</h1>
    <p class="lead">ASD Application.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web View</h2>
        <p>Click here </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Web &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mobile View</h2>
        <p>Click here </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Mobile &raquo;</a></p>
    </div>
    
</div>